a.button-round {
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    padding: 16px;
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: sans-serif;
    margin: 0px;
}

div.button-container {
    margin-top: 32px;
}

div.horizontal-member {
    padding: 4px;
}

div.image {
    max-width: 30%;
}

div.section-container {
    width: 1024px;
}

footer {
    background-color: #e6e7e4;
    color: #181818;
    display: flex;
    font-size: small;
    justify-content: space-around;
    padding: 6px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 64px;
}

    header img {
        max-height: 128px;
    }

img {
    max-width: 100%;
}

    img.aside {
        max-width: 40%;
        margin: 16px;
    }

nav {
    align-self: center;
}

    nav a {
        color: #252525;
        margin: 2px 8px;
        text-decoration: none;
    }

p {
    align-self: center;
    line-height: 24px;
    margin: 0px;
    padding: 16px;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 32px 16px;
    text-align: center;
}

.flex-even {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.forest-green {
    background-color: #436e5a;
    color: #ffffff;
}

    .forest-green a.button-round {
        background-color: #436e5a;
        border-color: #ffffff;
        color: #ffffff;
    }

        .forest-green a.button-round:hover {
            background-color: #ffffff;
            color: #436e5a;
        }

.gray {
    background-color: #e6e7e4;
    color: #181818;
}

    .gray a.button-round {
        background-color: #e6e7e4;
        border-color: #181818;
        color: #181818;
    }

        .gray a.button-round:hover {
            background-color: #181818;
            color: #e6e7e4;
        }

.military-green {
    background-color: #80956c;
    color: #ffffff;
}

    .military-green a.button-round {
        background-color: #80956c;
        border-color: #ffffff;
        color: #ffffff;
    }

        .military-green a.button-round:hover {
            background-color: #ffffff;
            color: #80956c;
        }

.text-left {
    text-align: left;
}

    .text-left a.button-round {
        margin-left: 16px;
    }

.top-margin {
    margin-top: 32px;
}

.white {
    background-color: #ffffff;
    color: #80956c
}

    .white a.button-round {
        background-color: #ffffff;
        border-color: #80956c;
        color: #80956c;
    }

        .white a.button-round:hover {
            background-color: #80956c;
            color: #ffffff;
        }

    .white p {
        color: #181818;
    }

@media only screen and (max-width: 1024px) {
    a.button-round {
        border-radius: 64px;
        padding: 32px;
    }

    div.button-container {
        margin: 64px 0px 32px 0px;
    }

    div.image {
        max-width: 100%;
    }

    div.section-container {
        margin: 0px 32px;
    }

    img.aside {
        max-width: 100%;
    }

    .flex-even {
        flex-direction: column;
    }
}
