a.button-round {
    border-radius: 4rem;
    border-style: solid;
    border-width: 1px;
    padding: 2rem;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    font-family: "Dosis", sans-serif;
    font-size: medium;
    margin: 0px;
}

div.button-container {
    margin: 4rem 0px 2rem 0px;
}

div.horizontal-member {
    padding: 0.25rem;
}

div.mobile-header {
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 10rem;
    left: 0;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

div.image {
    max-width: 100%;
}

div.section-container {
    margin: 0px 2rem;
    width: 1024px;
}

footer {
    background-color: #e6e7e4;
    color: #181818;
    display: flex;
    font-size: small;
    justify-content: space-around;
    padding: 0.5rem;
}

h1, h2, h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: normal;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

header img {
    max-height: 8rem;
}

img {
    max-width: 100%;
}

    img.aside {
        max-width: 100%;
        margin: 1rem;
    }

    img.invert-color {
        filter: brightness(0%);
    }

nav {
    align-self: center;
    background: #ffffff;
    color: #80956c;
    display: none;
    left: 0;
    position: relative;
    text-align: center;
    top: 10rem;
    width: 100%;
}

    nav a {
        color: #252525;
        display: block;
        font-size: x-large;
        margin: 4rem;
        text-decoration: none;
    }

    nav img {
        vertical-align: middle;
        width: 1.5em;
    }

p {
    align-self: center;
    line-height: 1.5rem;
    margin: 0px;
    padding: 1rem;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    text-align: center;
}

    section.font-lobster {
        font-family: "Lobster", sans-serif;
        font-size: large;
    }

.below-header {
    position: relative;
    top: 10rem;
    width: 100%;
}

.checkbtn {
    align-self: center;
    cursor: pointer;
    display: block;
}

.flex-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.forest-green {
    background-color: #436e5a;
    color: #ffffff;
}

    .forest-green a.button-round {
        background-color: #436e5a;
        border-color: #ffffff;
        color: #ffffff;
    }

        .forest-green a.button-round:hover {
            background-color: #ffffff;
            color: #436e5a;
        }

.gray {
    background-color: #e6e7e4;
    color: #181818;
}

    .gray a.button-round {
        background-color: #e6e7e4;
        border-color: #181818;
        color: #181818;
    }

        .gray a.button-round:hover {
            background-color: #181818;
            color: #e6e7e4;
        }

.military-green {
    background-color: #80956c;
    color: #ffffff;
}

    .military-green a.button-round {
        background-color: #80956c;
        border-color: #ffffff;
        color: #ffffff;
    }

        .military-green a.button-round:hover {
            background-color: #ffffff;
            color: #80956c;
        }

.text-left {
    text-align: left;
}

    .text-left a.button-round {
        margin-left: 1rem;
    }

.top-margin {
    margin-top: 2rem;
}

.white {
    background-color: #ffffff;
    color: #80956c
}

    .white a.button-round {
        background-color: #ffffff;
        border-color: #80956c;
        color: #80956c;
    }

        .white a.button-round:hover {
            background-color: #80956c;
            color: #ffffff;
        }

    .white p {
        color: #181818;
    }

#check, #check:checked ~ div.below-header {
    display: none;
}

    #check:checked ~ header nav {
        display: block;
    }

@media only screen and (min-width: 769px) {
    a.button-round {
        border-radius: 2rem;
        padding: 1rem;
    }

    div.button-container {
        margin: 2rem 0px 0px 0px;
    }

    div.image {
        max-width: 30%;
    }

    div.mobile-header {
        height: auto;
        padding: 0px;
        position: static;
        width: auto;
    }

    div.section-container {
        margin: 0px;
    }

    header {
        background-color: #ffffff;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        height: 10rem;
        justify-content: space-between;
        padding: 1rem 4rem;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    img.aside {
        max-width: 40%;
    }

    nav {
        display: block;
        position: static;
        width: auto;
    }

        nav a {
            display: inline;
            font-size: large;
            margin: 0.25rem 0.5rem;
        }

        nav img {
            margin-left: 0.5em;
        }

    .checkbtn {
        display: none;
    }

    .flex-even {
        flex-direction: row;
    }

    #check:checked ~ div.below-header {
        display: block;
    }

    #check:checked ~ header nav {
        display: flex;
    }
}
